name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  pep_and_audit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Lint with pyflakes
      run: |
        python -m pip install --upgrade pip pyflakes
        pyflakes
    # Make sure that packaging will work
    - name: pep517 build
      run: |
        python -m pip install --upgrade setuptools build twine
        python -m build --sdist .
        twine check dist/*
    # This test turned off for the moment
    #- name: Security audit
    #  run: |
    #    python -m pip install --upgrade bandit
    #    bandit -r . -c .bandit.yaml

  initial_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install and build
      run: |
        sudo apt-get install libxml2-utils --fix-missing
        python -m pip install --upgrade pip setuptools
        python -m pip install -e .[test,all]
    - name: Test with stable deps and coverage
      run: pytest --remote-data
#      run: pytest --cov=./ --cov-report=xml --remote-data
#    - name: Coverage report
#      uses: codecov/codecov-action@v3

#  dev_deps_tests:
#    runs-on: ubuntu-latest
#    steps:
#    - name: Checkout code
#      uses: actions/checkout@v4
#    - name: Set up Python
#      uses: actions/setup-python@v4
#      with:
#        python-version: '3.x'
#    - name: Install and build
#      run: |
#        sudo apt-get install libxml2-utils
#        python -m pip install --upgrade pip setuptools
#        python -m pip install git+https://github.com/astropy/astropy.git@main#egg=astropy
#        python -m pip install git+https://github.com/lightkurve/lightkurve.git@main#egg=lightkurve
#        python -m pip install -e .[test,all]
#    - name: Test with dev deps
#      run: pytest --remote-data
